<ul class="nav nav-tabs" role="tablist">
  <li class="active"><%= link_to 'View list', articles_path %></li>
  <li><%= link_to 'New Article', new_article_path %></li>
</ul>
<table class="table table-bordered table-hover">
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th>Section</th>
    <th>Photo</th>
    <th>Action</th>
  </tr>
 
  <% @articles.each do |article| %>
    <tr>
      <td><%= article.title %></td>
      <td><%= article.description %></td>
      <td><%= article.section %></td>
      <td><%= image_tag article.photo.url(:small) %></td>
      <td><%= link_to 'Show', article_path(article), class: 'btn btn-info' %>
      <%= link_to 'Edit', edit_article_path(article) , class: 'btn btn-primary' %>
      <%= link_to 'Destroy', article_path(article), class: 'btn btn-danger',
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>
