<p>
	<strong>Title: </strong>
	<%= @article.title %>
</p>

<p>
	<strong>Description: </strong>
	<%= @article.description %>
</p>

<p>
	<strong>Section: </strong>
	<%= @article.section %>
</p>

<p>
  <strong>Photo: </strong>
  <%= image_tag @article.photo.url(:small) %>
</p>

<%= link_to 'Article List', articles_path %>